<div class="main">
  <div class="guide_container">
    <div class="scroll_c">
        <div class="guide_header">
            <div class="g_h_name">
                sebastian
            </div>
            <div class="g_h_menu">
                <ul>
                    <li>About me</li>
                    <li>Destinations</li>
                    <li>Testimonials</li>
                    <li>Training</li>
                    <li>Gallery</li>
                </ul>
            </div>
        </div>
        <div class="home_container ">
          <div class="h_welcome">
              <div class="h_text_container">
                <h4 class="title">Tour coordinator</h4>
                <h1 class="subtitle">
                    Bilingual service, expert guidance, and personalized attention.
                </h1>
                <div class="text">
                    Creating unforgettable journeys. 
                    From organizing transportation and accommodations to offering bilingual guidance and local recommendations, I act as both a storyteller and a facilitator—connecting people with places in a meaningful way. 
                    Beyond guiding travelers I’ve also taken on the role of trainer. I’ve led sessions on essential topics such as first aid, presentation techniques, and service protocols. 
                </div>

              </div>
              <div class="h_img">
                <img src="../../../assets/img/guide/tour_bg.png" alt="" srcset="">
              </div>
            </div>
        </div>

        <h2>Destinations</h2>
        <div class="s_container">
            <div class="s_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
                <div class="s_card__head">Medellin</div>
            </div>
            <div class="s_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
                <div class="s_card__head">Bogota</div>
            </div>
            <div class="s_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
                <div class="s_card__head">Curious Cat</div>
            </div>
            <div class="s_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
                <div class="s_card__head">Prowling Cat</div>
            </div>
            <div class="s_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">
                <div class="s_card__head">Sleepy Cat</div>
            </div>
        </div>
        <div class="h_cards">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="guide_slider">
          <section class="slider">
        <!-- Manual controls (also act as progress dots) -->
        <div class="slider__controls">
          <input checked type="radio" name="slides" id="slide-1">
          <input type="radio" name="slides" id="slide-2">
          <input type="radio" name="slides" id="slide-3">
          <input type="radio" name="slides" id="slide-4">
        </div>
      
        <!-- Viewport -->
        <div class="slider__viewport">
          <figure class="slider__slide">
            <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba?q=80&w=1600" alt="Slide 1">
            <figcaption>Slide One</figcaption>
          </figure>
          <figure class="slider__slide">
            <img src="https://images.unsplash.com/photo-1520975922284-9d1515e1a3af?q=80&w=1600" alt="Slide 2">
            <figcaption>Slide Two</figcaption>
          </figure>
          <figure class="slider__slide">
            <img src="https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?q=80&w=1600" alt="Slide 3">
            <figcaption>Slide Three</figcaption>
          </figure>
          <figure class="slider__slide">
            <img src="https://images.unsplash.com/photo-1500534314209-a25ddb2bd429?q=80&w=1600" alt="Slide 4">
            <figcaption>Slide Four</figcaption>
          </figure>
        </div>
      
        <!-- Dots (labels for the radios) -->
        <div class="slider__dots">
          <label for="slide-1"></label>
          <label for="slide-2"></label>
          <label for="slide-3"></label>
          <label for="slide-4"></label>
        </div>
      </section>
      
        </div>
        <div class="guide_gallery">
                    <div class="galleries-title">
                        <h2>Gallery</h2>
                    </div>
                    <div class="gallery-container">
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery1.jpg" alt="Paris - France" class="gallery__img" title="Paris - France" >
                                    <h3 class="gallery__title">Eiffel Tower - Paris - France</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>Eiffel Tower</strong></h3>
                                            <p class="historycard">Every evening, the Eiffel Tower is adorned with its golden covering and sparkles for 5 minutes every hour on the hour, while its beacon shines over Paris</p>
                                            <a href="#paris" alt="" class="historycard">Paris</a>
                                            
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery2.jpg" alt="Louvre Museum - Paris - France" title="Louvre Museum - France" class="gallery__img">
                                    <h3 class="gallery__title">Louvre Museum - Paris - France</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>Louvre Museum</strong></h3>
                                            <p class="historycard">The former palace of the kings of France – now the largest museum in the world covering almost 10,000 years of history! The palace is divided into three wings: Richelieu, Sully and Denon.</p>
                                            <a href="#paris" alt="" class="historycard">Paris</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>                   
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery3.jpg" alt="Arch of Triumph - Paris - France" title="Arch of Triumph - France" class="gallery__img">
                                    <h3 class="gallery__title">Arch of Triumph - Paris - France</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>Arc de Triomphe</strong></h3>
                                            <p class="historycard">The Arc de Triomphe honours those who fought and died for France in the French Revolutionary and Napoleonic Wars</p>
                                            <a href="#paris" alt="" class="historycard">Paris</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                            </div>                                      
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery4.jpg" alt="Eiffel Tower - Paris - France" title="Eiffel Tower - France" class="gallery__img">
                                    <h3 class="gallery__title">Eiffel Tower - Paris - France</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>Eiffel Tower</strong></h3>
                                            <p class="historycard">The Eiffel Tower was built by Gustave Eiffel for the 1889 Exposition Universelle, which was to celebrate the 100th year anniversary of the French Revolution.</p>
                                            <a href="#paris" alt="" class="historycard">Paris</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery5.jpg" alt="Louvre Museum - Paris - France" title="Louvre Museum - France" class="gallery__img">
                                    <h3 class="gallery__title">Louvre Museum - Paris - France</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>Louvre Museum</strong></h3>
                                            <p class="historycard">The Collections database consists of entries for more than 480,000 works in the Musée du Louvre and Musée National Eugène-Delacroix.</p>
                                            <a href="#paris" alt="" class="historycard">Paris</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>                    
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery6.jpg" alt="Arch of Triumph - Paris - France" title="Arch of Triumph - France" class="gallery__img">
                                    <h3 class="gallery__title">Arch of Triumph - Paris - France</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>Arc De Triomphe</strong></h3>
                                            <p class="historycard">The arch, designed by Jean-François-Thérèse Chalgrin, is 164 feet (50 metres) high and 148 feet (45 metres) wide. It sits in a circular plaza from which 12 grand avenues radiate, forming a star (étoile), which is why it is also called Arch of Triumph of the Star.</p>
                                            <a href="#paris" alt="" class="historycard">Paris</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>                   
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery7.jpg" alt="Verdon Gorge - France" title="Verdon Gorge - France" class="gallery__img">
                                    <h3 class="gallery__title">Verdon Gorge</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>Verdon Gorge</strong></h3>
                                            <p class="historycard">It is about 25 km (15.5 mi) long and up to 700 metres (0.4 mi) deep. It was formed by the Verdon River, which is named for its turquoise-green colour, one of the location's distinguishing characteristics.</p>
                                            <a href="#france" alt="" class="historycard">Provence-Alpes-Côte d'Azur</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>                                     
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery8.jpg" alt="Statue of Christ - Berliner Dom - Berlin - Germany" title="Statue of Christ - Germany" class="gallery__img">
                                    <h3 class="gallery__title">Statue of Christ - Berliner Dom - Berlin - Germany</h3>               
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>Berliner Dom</strong></h3>
                                            <p class="historycard">The Dom is the parish church of the congregation Gemeinde der Oberpfarr- und Domkirche zu Berlin. Statue of Christ raising arm in blessing below the dome of the Berliner Dom or Berlin Cathedral, redesigned by Julius Raschdorff and completed 1905 in Historicist style after being badly damaged in World War Two, although the original chapel on this site was consecrated in 1454, Museum Island, Mitte, Berlin, Germany.</p>
                                            <a href="#berlin" alt="" class="historycard">Berlin - Germany</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>                  
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery9.jpg" alt="Altare della Patria - Rome - Italy" title="Altare della Patria - Italy" class="gallery__img">
                                    <h3 class="gallery__title">Altare della Patria   Rome - Italy</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>Vittoriano</strong></h3>
                                            <p class="historycard">Monumento Nazionale a Vittorio Emanuele II also known as Vittoriano or Altare della Patria. Built to honour Victor Emmanuel II, the first king of a unified Italy</p>
                                            <a href="#rome" alt="" class="historycard">Rome</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>                   
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery10.jpg" alt="Notre Dame Cathedral - Paris - France" title="Notre Dame Cathedral - France" class="gallery__img">
                                    <h3 class="gallery__title">Notre Dame Cathedral - Paris - France</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>Notre-Dame</strong></h3>
                                            <p class="historycard">The cathedral is one of the most widely recognized symbols of the city of Paris and the French nation. In 1805, it was awarded the honorary status of a minor basilica. As the cathedral of the archdiocese of Paris, Notre-Dame contains the cathedra of the archbishop of Paris</p>
                                            <a href="#paris" alt="" class="historycard">Paris</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                            </div>                  
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery11.jpg" alt="Fraumünster - Zürich - Switzerland" title="Fraumünster - Switzerland" class="gallery__img">
                                    <h3 class="gallery__title">Fraumünster - Zürich - Switzerland</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard">Fraumünster</h3>
                                            <p class="historycard">was founded in 853 by Louis the German for his daughter Hildegard. He endowed the Benedictine convent with the lands of Zürich, Uri, and the Albis forest, and granted the convent immunity, placing it under his direct authority. Today, it belongs to the Evangelical Reformed Church of the canton of Zürich and is one of the four main churches of Zürich, the others being the Grossmünster, Prediger and St. Peter's churches.</p>
                                            <a href="#zürich" alt="" class="historycard">Zürich</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>                   
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery12.jpg" alt="Brandenburg Gate - Berlin - Germany" title="Brandenburg Gate - Germany" class="gallery__img">
                                    <h3 class="gallery__title"> Brandenburg Gate - Berlin - Germany</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard">Brandenburg Gate</h3>
                                            <p class="historycard">Built on the orders of Prussian king Frederick William II after restoring the Orangist power by suppressing the Dutch popular unrest.[1] One of the best-known landmarks of Germany, it was built on the site of a former city gate that marked the start of the road from Berlin to the town of Brandenburg an der Havel, which used to be the capital of the Margraviate of Brandenburg.</p>
                                            <a href="#berlin" alt="" class="historycard">Berlin</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery13.jpg" alt="" class="gallery__img">
                                    <h3 class="gallery__title">City Hall and Toronto Sign - Toronto - Canada</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard">Toronto City Hall and The Toronto Sign</h3>
                                            <p class="historycard">The Toronto City Hall, or New City Hall, is the seat of the municipal government of Toronto and one of the city's most distinctive landmarks. Designed by Viljo Revell and engineered by Hannskarl Bandel, the building opened in 1965. The building is located adjacent to Nathan Phillips Square, that was designed and officially opened alongside Toronto City Hall. The Toronto Sign, which was installed for the 2015 Pan American Games and replaced with a permanent version in 2020</p>
                                            <a href="#toronto" alt="" class="historycard">Toronto</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery14.jpg" alt="Parliament Hill or Colline du Parlement - Ottawa - Canada" title="Colline du Parlement - Canada" class="gallery__img">
                                    <h3 class="gallery__title">The Parliament Hill or Colline du Parlement  Ottawa - Canada</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard">Parliament Hill or Colline du Parlement</h3>
                                            <p class="historycard">The Hill, is an area of Crown land on the southern banks of the Ottawa River in downtown Ottawa, Ontario, Canada. Its Gothic revival suite of buildings, and their architectural elements of national symbolic importance, is the home of the Parliament of Canada. Parliament Hill attracts approximately three million visitors each year.</p>
                                            <a href="#ottawa" alt="" class="historycard">Ottawa</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery15.jpg" alt="David of Michelangelo - Florence - Italy" title="David of Michelangelo - Italy" class="gallery__img">
                                    <h3 class="gallery__title">David of Michelangelo - Florence - Italy</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>David of Michelangelo</strong></h3>
                                            <p class="historycard">David is a masterpiece of Renaissance sculpture, created in marble between 1501 and 1504 by the Italian artist Michelangelo. David is a 5.17-metre (17 ft 0 in) marble statue of the Biblical figure David, a favoured subject in the art of Florence.</p>
                                            <a href="#florence" alt="" class="historycard">Florence</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery16.jpg" alt="Neuschwanstein Castle - Southwest Bavaria - Germany." title="Neuschwanstein Castle - Germany." class="gallery__img"/>
                                    <h3 class="gallery__title">Neuschwanstein Castle - Southwest Bavaria - Germany. </h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>Neuschwanstein Castle</strong></h3>
                                            <p class="historycard">The palace was commissioned by King Ludwig II of Bavaria as a retreat and in honour of Richard Wagner. Construction began in 1869, but was never fully completed. Until the king died in 1886. It was open to the public shortly after his death. More than 1.3 million people visit annually Neuschwanstein Castle, with as many as 6,000 per day in the summer.</p>
                                            <a href="#germany" alt="" class="historycard">Bavaria</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span class="historycard">Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery17.jpg" alt="Sensō-ji Temple - Tokyo - Japan" title="Sensō-ji Temple - Japan" class="gallery__img">
                                    <h3 class="gallery__title">Sensō-ji Temple - Tokyo - Japan</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard"><strong>Sensō-ji Temple</strong></h3>
                                            <p class="historycard">Short History About The Place</p>
                                            <a href="#tokyo" alt="">Tokyo</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span>Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery18.jpg" alt="" class="gallery__img">
                                    <h3 class="gallery__title">image18</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2>Around The World</h2>
                                            <h3>Name of Place</h3>
                                            <p>Short History About The Place</p>
                                            <a href="#" alt="">Place Page</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span>Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery19.jpg" alt="" class="gallery__img">
                                    <h3 class="gallery__title">image19</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2>Around The World</h2>
                                            <h3>Name of Place</h3>
                                            <p>Short History About The Place</p>
                                            <a href="#" alt="">Place Page</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span>Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery20.jpg" alt="" class="gallery__img">
                                    <h3 class="gallery__title">image20</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2>Around The World</h2>
                                            <h3>Name of Place</h3>
                                            <p>Short History About The Place</p>
                                            <a href="#" alt="">Place Page</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span>Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__item">
                            <div class="flip-card-inner">
                                <div class="flip_card_front">
                                    <img src="gallery_one/gallery21.jpg" alt="Schwan lake - Fússen - Germany" title="Schwan lake - Germany" class="gallery__img">
                                    <h3 class="gallery__title">Schwan lake - Fússen - Germany</h3>
                                </div>
                                <div class="flip_card_back">
                                    <div class="header">
                                        <div class="back-card">
                                            <h2 class="historycard">Around The World</h2>
                                            <h3 class="historycard">Schwan Lake - Germany</h3>
                                            <p class="historycard">Lake Schwan (German Schwansee, meaning "swan lake") is an alpine lake in Bavaria in the district of East Allgäu, Schwangau southeast of Füssen, near the castles Hohenschwangau and Neuschwanstein, 400 meters north of the lake Alpsee and 789.23 meters above sea level. . In the 19th century, the kings of the Wittelsbach family included it in a park designed by the landscape designer Peter Joseph Lenné. Since 1956 it has been part of a nature reserve.
                                                The lake serves as a spa during the summer, while in winter it is used as a skating rink for locals and tourists.</p>
                                            <a href="#fussen" alt="">Bavaria</a>                               
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="autor">
                                            <a href="https://felipe-rincon.xyz">
                                                <img src="" alt="">
                                                <span>Feelipe</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
    </div>
  </div>
</div>

