<header id="aboutTitle">
    <h1>Sebastian Felipe Rincon</h1>
    <h2>Full Stack Developer</h2>
</header>   
<section id="aboutContent">
    <article>
        <p>
            Hello, I'm Felipe Rincon <br>
            A web developer with a strong background in
            Angular, HTML, CSS, Supabase, JavaScript, Bootstrap, and Tailwind CSS. <br>
            I'm passionate about creating innovative web solutions and continuously expanding 
            my skills in the ever-evolving world of web development
            have completed various online courses and certifications in web development. <br>
            I have hands-on experience with Angular, HTML, CSS, Supabase, JavaScript, and Tailwind CSS,
            and I'm constantly learning and exploring new technologies to enhance my skills.<br>
            
            I have developed several projects using Angular, HTML, CSS, Supabase, JavaScript, 
            and Tailwind CSS, ranging from personal websites to web applications. 
            Some of my notable projects include E-commerce Cositas Kukas, This Portfolio, and weather app. 
            You can check out the live projects and view the source code on my GitHub repository felipe1626
            <br>
            As a developer, I possess strong problem-solving skills, excellent teamwork and communication 
            abilities, keen attention to detail, and adaptability to different technologies and frameworks. 
            These skills have been instrumental in successfully completing web development projects and 
            collaborating effectively with cross-functional teams.<br>
        </p> <br> <br>
        <h3>Education</h3>
        <div>
            <h4>Master In Web Development FullStack | Udemy</h4>
            <p><strong>Knowledge</strong><br>JavaScript - TypeScript - Angular – NodeJS – ExpressJS – MongoDB – PHP – SQL – Laravel – Symfony </p>
            <video src="..\..\..\assets\videos\programmer-felipe.mp4" autoplay loop mute></video>
        </div>
        <br>
        <br>
        <div>
            <h4>Master in JavaScript | Udemy</h4>
            <p><strong>Knowledge</strong><br>JavaScript – TypeScript – JQuery – Angular -  NodeJS - ExpressJS - MongoDB</p>
            <video src="..\..\..\assets\videos\full stack developer js.mp4" loop autoplay mute></video>
        </div><br><br>
        <div>
            <h4>Master In Python | Udemy</h4>
            <p><strong>Knowledge</strong><br>Python – SQL – Tkinter – Django – Flask</p>
            <img src="..\..\..\assets\img\full stack developer python.png" alt="">
        </div><br><br>
        <!--
        <div>
            <h4>FULL STACK WEB DEVELOPMENT | University of Helsinski</h4>
            <p><strong>Knowledge</strong></p>
        </div><br><br>
        <div><br><br>
            <h4>DevOps with Kubernetes | University of Helsinski</h4>
            <p><strong>Knowledge</strong><br>Doker - Kubernet - K3d</p>
        </div>-->
    </article><br><br><br>
    <article>
        <h3>Skills & Abilities</h3>
        <div>
            <h4>Programming Languages</h4>
            <p><strong>JavaScript</strong> - TypeScript - Angular - NodeJS - ExpressJs - JQuery</p>
            <!-- <p><strong>Python</strong> - DJango - Flask - Tkinter</p> -->
            <p><strong>HTML & CSS</strong> - Bootstrap - Sass</p>
            <h4>Data Bases</h4>
            <p>SQL - MongoDB - SupaBase</p>
            <h4>Other</h4>
            <p>Git - Github - Soket.io - Visual Studio Code</p>
            <h4>Soft Skills</h4>
            <p>Management | Communication | Leadership | Fast Learning</p>
        </div>
    </article>
</section>
