<nav class=" navbar navbar-expand-sm">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav justify-content-between nixie-one" style="width: 95%;">
        <li class="nav-item"><a href="" class="nav-link" roterLinkActive="['actived']">Home</a></li>
        <!-- Add Drop down -->
        <li class="nav-item"><a href="about" class="nav-link" routerLinkActive="['actived']">About me</a></li>
        <li class="nav-item"><a href="projects" class="nav-link" routerLinkActive="['actived']">My Projects</a></li>
        <li class="nav-item"><a href="blog" class="nav-link" routerLinkActive="['actived']">Blog</a></li>
      </ul>
    </div>
  </div>
  <!-- <div class="hamburger"><fa-icon [icon]="faHamburger"></fa-icon></div> -->
</nav>

<div class="p_selection_container cinzel">
        <a href="" class="P_selection_border i_1">
          <div class=" P_selection_card ">
            <div>💻</div>
            <span>
              The Developer
            </span>
          </div>
        </a>
        <a href="guide" class="P_selection_border i_2">
          <div class="P_selection_card ">
            <div>🚶‍♂️</div>
            <span>
              The Tour Guide
            </span>
          </div>
        </a>
        <a href="artist" class="P_selection_border i_3">
          <div class="P_selection_card ">
            <div>🖊</div>
            <span>
              The Artist
            </span>
          </div>
        </a>
        <a href="self" class="P_selection_border">
          <div class="P_selection_card ">
            <div>🧘‍♂️</div>
            <span>
              The Person
            </span>
          </div>
        </a>
        <a href="cv" class="P_selection_border i_4">
          <div class="P_selection_card ">
            <div>CV</div>
            <span>
              Curriculum 
            </span>
          </div>
        </a>
      
      </div>

<div class="w_container">
  <div class="w_day_time_container">
    Good
    <div class="w_morning">morning</div>
    <div class="w_afternoon">afternoon</div>
  </div>
  <div class="w_day_of_week">
    <div class="">Monday</div>
    <div class="">Thusday</div>
    <div class="">Wensday</div>
    <div class="">Thursday</div>
    <div class="">Friday</div>
    <div class="">Saturday</div>
    <div class="">Suday</div>
  </div>
  <div class="w_wheater">
    
  </div>
</div>