<nav class=" navbar navbar-expand-sm">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav justify-content-between" style="width: 95%;">
        <li class="nav-item"><a href="" class="nav-link" [routerLinkActive]="['actived']">Home</a></li>
        <li class="nav-item"><a href="about" class="nav-link" [routerLinkActive]="['actived']">About</a></li>
        <div class="nav-item"><img class="rounded-circle" src="{{ profile_picture }}" style="width: 120px;" alt=""></div>
        <li class="nav-item"><a href="projects" class="nav-link" [routerLinkActive]="['actived']">Projects</a></li>
        <li class="nav-item"><a href="contact" class="nav-link" [routerLinkActive]="['actived']">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>