<nav class=" navbar navbar-expand-sm">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav justify-content-between" style="width: 95%;">
        <li class="nav-item"><a href="" class="nav-link" roterLinkActive="['actived']">Home</a></li>
        <!-- Add Drop down -->
        <li class="nav-item"><a href="about" class="nav-link" routerLinkActive="['actived']">About me</a></li>
        <li class="nav-item"><a href="projects" class="nav-link" routerLinkActive="['actived']">My Projects</a></li>
        <li class="nav-item"><a href="blog" class="nav-link" routerLinkActive="['actived']">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>