<div class="container align-content-center mb-5 vh-80">
 <div class="row d-flex overflow-hidden justify-content-center">
  <video class=" h-80 position-absolute rounded-5 object-fit-fill w-80" src="{{ video_fr_full }}" autoplay mute loop></video>
  <div class="min-vh-80 d-flex p-0 col-4 z-3">
  </div>
  <div class="min-vh-80 col-6 d-flex flex-column justify-content-center px-5 z-3">
    <h1 id="writertype" class="fs-2 emerald-100">
      Welcome To My Portfolio
    </h1>
    <div class="typewriter-container">
      <p class="typewriter">I'm still working here so please be patient, this could be better...</p>
    </div>
    <h2 class="fs-4">Front-end Developer</h2>
  </div>
 </div>
</div>
<div class="vh-40 mb-9 w-75 mx-auto">
  <p class="px-3">

    "Welcome to my portfolio! My name is Felipe, and I'm a web developer with a passion for front-end development. On this page, you'll find a showcase of my projects and exercises, all of which were designed to improve my skills in HTML, CSS, and JavaScript. Whether it's a simple image carousel or a more complex slider, I always strive to create elegant and intuitive user experiences. Please feel free to browse through my projects and get in touch if you have any questions or would like to collaborate on a project!
    "
    What's next?
    Of course this can't be all i have a list of To-Do's for these exactly portfolio so visit me soon and you could see the changes
    also you can see the list in order of implementation and time to production so you can have an idea 

  </p>
  <p>Why these portfolio its in English?
    Well I'm not a native English speaker so in order to improve my english habilities im trying to inmerse myself all the posible inside the english
    coming soon you could see the option for change the language at the very top-right screen, what language do you like to include? (form just with language list and the selected language and send button after press a button )
  </p>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col-8 emerald-50">
      In this article, I'll walk you through the 7 key steps to create an API using JavaScript:<br>

1️⃣ Step 1: Setting up the project structure<br>
2️⃣ Step 2: Installing and configuring Express.js<br>
3️⃣ Step 3: Creating API routes<br>
4️⃣ Step 4: Handling HTTP requests and responses<br>
5️⃣ Step 5: Implementing data persistence with a database<br>
6️⃣ Step 6: Adding authentication and authorization<br>
7️⃣ Step 7: Testing and deploying your API<br>

By following these steps, you'll have a solid foundation for building robust and scalable APIs. 🌟
Whether you're a seasoned developer or just starting your journey, this article provides a practical guide to get you started with API development using JavaScript. 💪
<br>
🔗 Read the full article here: [Insert Link to the Article]
    </div>
    <div class="col"></div>
  </div>
  <div class="row emerald-100 mb-5">
    <div class="col"></div>
    <div class="col-8">
      Yes, "Eloquent JavaScript" is a popular book written by Marijn Haverbeke that focuses on teaching JavaScript concepts and programming techniques in a clear and accessible manner. It covers topics such as data types, functions, objects, arrays, higher-order functions, DOM manipulation, asynchronous programming, and more. It's considered a valuable resource for learning JavaScript, especially for beginners or those looking to deepen their understanding of the language.

    </div>
  </div>
  <div class="row mb-5">
    <div class="col-8 emerald-50"> Building Modern Web Applications with Angular, TypeScript, Tailwind CSS, JavaScript, and Supabase: A Powerful Stack for Web Developers

As a web developer passionate about creating cutting-edge applications, I'm always on the lookout for the best tools and technologies to build robust and scalable web solutions. In my journey, I've discovered a powerful stack that combines Angular, TypeScript, Tailwind CSS, JavaScript, and Supabase, which has revolutionized the way I develop modern web applications.</div>
    <div class="col"></div>
  </div>
</div>
<div class="min-vh-100">
  <div class=".box-sizing-border-box d-flex align-items-center justify-content-center vh-sm-95  m-0 overflow-hidden"> 
    <div class="container align-items-center d-flex">
      <div class="panel" (click)="changePanel($event.target)" style="background-image: url('{{ img_three_url }}')">
        <h3>Explore The World</h3>
      </div>
      <div class="panel" (click)="changePanel($event.target)" style="background-image: url('{{ img_four_url }}')">
        <h3>Wild Forest</h3>
      </div>
      <div class="panel" (click)="changePanel($event.target)"  style="background-image: url('{{ img_five_url }}')">
        <h3>Sunny Beach</h3>
      </div>
      <div class="panel" (click)="changePanel($event.target)" style="background-image: url('{{ img_six_url }}')">
        <h3>City on Winter</h3>
      </div>
      <div class="panel" (click)="changePanel($event.target)" style="background-image: url('{{ img_seven_url }}')">
        <h3>Mountains - Clouds</h3>
      </div>
    </div>
  </div>  
</div>

<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
</div>