<!--
  {{ img_one_url }}
  {{ video_url }}
  {{ img_two_url }}
  ../../../assets/videos/frprovesize.mp4
-->
<article class="mb-6">
  <h2 class="text-center">Welcome to my projects page! </h2>
  <p class="text-justify fs-3 w-75 mx-auto">
    As a passionate web developer, I'm excited to showcase some of the projects 
    I've worked on. From building dynamic websites with Angular, creating stylish 
    user interfaces with Tailwind CSS, to leveraging the power of Supabase for 
    seamless data management, I've honed my skills in HTML, CSS, JavaScript, 
    TypeScript, and more to create modern and engaging web applications. Each 
    project represents my dedication to crafting high-quality, responsive, and 
    user-friendly web solutions. Take a look below and explore my diverse range 
    of projects that highlight my technical expertise and creativity in web 
    development.
  </p> 
</article>

<div id="myCarousel" class="carousel slide carousel-fade mb-6" data-bs-ride="carousel">
  <!-- Slides -->
  <div class="carousel-inner rounded-5 vh-50 max-vh-screen" >
      <div class="carousel-item active">
          <a href="page1.html"><img src="{{ cositas_kukas }}" alt="Image 1" class="d-block w-100 h-100"></a>
          <div class="carousel-caption">
              <!-- <h3>Cositas Kukas</h3>
              <p class="d-none d-sm-block">E-commerce 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia adipisci dolor sapiente a laudantium officiis laboriosam magni est! Est dolorum cumque, quis tenetur sint fugit. Aut beatae sint impedit.
              </p> -->
          </div>
      </div>
      <div class="carousel-item">
          <a href="page2.html"><img src="{{ logo_form_ease }}" alt="Image 2" class="d-block w-100 h-100"></a>
          <div class="carousel-caption">
              <!-- <h3>This Portfolio</h3>
              <p class="d-none d-sm-block">Portfolio - Blog 
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id obcaecati doloremque reprehenderit vero quis in quo nisi et eos impedit. Maiores fugit itaque ea nobis nihil eveniet, similique iure expedita.
              </p> -->
          </div>
      </div>
      <div class="carousel-item">
          <a href="page3.html"><video src="{{ around_the_world }}" class="d-block w-100 h-100" loop autoplay mute></video></a>
          <div class="carousel-caption">
              <!-- <h3>Around the World</h3> 
              <p class="d-none d-sm-block">
                Travel information
              </p>
            -->
          </div>
      </div>
  </div>

  <!-- Controls -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </a>
</div>

<article class="mb-3">
  <h2 class="text-center">Exercises!</h2>
  <p class="text-justify fs-3 w-75 mx-auto">
    Whether it's a simple image carousel or a more complex slider, 
    I always strive to create elegant and intuitive user experiences. 
    Please feel free to browse through my projects and get in touch if 
    you have any questions or would like to collaborate on a project.
  </p>
</article>

<div class=".box-sizing-border-box d-flex align-items-center justify-content-center vh-50 vh-sm-95  m-0 overflow-hidden"> 
  <div class="container d-flex">
    <div class="panel active" (click)="changePanel($event.target)" style="background-image: url('{{ img_three_url }}')">
      <h3>Explore The World</h3>
    </div>
    <div class="panel" (click)="changePanel($event.target)" style="background-image: url('{{ img_four_url }}')">
      <h3>Wild Forest</h3>
    </div>
    <div class="panel" (click)="changePanel($event.target)"  style="background-image: url('{{ img_five_url }}')">
      <h3>Sunny Beach</h3>
    </div>
    <div class="panel" (click)="changePanel($event.target)" style="background-image: url('{{ img_six_url }}')">
      <h3>City on Winter</h3>
    </div>
    <div class="panel" (click)="changePanel($event.target)" style="background-image: url('{{ img_seven_url }}')">
      <h3>Mountains - Clouds</h3>
    </div>
  </div>
</div>


<!-- Cards
<div class="d-flex border-success mb-3 w-75 h-25 rounded">
  <div class="z-3 position-absolute p-5 rounded-3"><span>z-3</span></div>
  <div class="z-2 position-absolute p-5 rounded-3"><span>z-2</span></div>
  <div class="z-1 position-absolute p-5 rounded-3"><span>z-1</span></div>
  <div class="z-0 position-absolute p-5 rounded-3"><span>z-0</span></div>
  <div class="z-n1 position-absolute p-5 rounded-3"><span>z-n1</span></div>

</div>
-->