<!--
  {{ img_one_url }}
  {{ video_url }}
  {{ img_two_url }}
  ../../../assets/videos/frprovesize.mp4
-->
<article class="mb-3">
  <h2 class="text-center">Welcome to my projects page! </h2>
  <p class="text-justify w-75 mx-auto">
    As a passionate web developer, I'm excited to showcase some of the projects 
    I've worked on. From building dynamic websites with Angular, creating stylish 
    user interfaces with Tailwind CSS, to leveraging the power of Supabase for 
    seamless data management, I've honed my skills in HTML, CSS, JavaScript, 
    TypeScript, and more to create modern and engaging web applications. Each 
    project represents my dedication to crafting high-quality, responsive, and 
    user-friendly web solutions. Take a look below and explore my diverse range 
    of projects that highlight my technical expertise and creativity in web 
    development.
  </p> 
</article>

<div id="myCarousel" class="carousel slide carousel-fade mb-4" data-bs-ride="carousel">
  <!-- Slides -->
  <div class="carousel-inner rounded" style="height: 70vh;">
      <div class="carousel-item active">
          <a href="page1.html"><img src="{{ img_one_url }}" alt="Image 1" class="d-block w-100 h-100"></a>
          <div class="carousel-caption">
              <h3>Image 1</h3>
              <p>Image 1 description</p>
          </div>
      </div>
      <div class="carousel-item">
          <a href="page2.html"><img src="{{ img_two_url }}" alt="Image 2" class="d-block w-100 h-100"></a>
          <div class="carousel-caption">
              <h3>Image 2</h3>
              <p>Image 2 description</p>
          </div>
      </div>
      <div class="carousel-item">
          <a href="page3.html"><video src="{{ video_url }}" class="d-block w-100 h-100" loop autoplay mute></video></a>
          <div class="carousel-caption">
              <h3>Image 3</h3>
              <p>Image 3 description</p>
          </div>
      </div>
  </div>

  <!-- Controls -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </a>
</div>

<article class="mb-3">
  <h2 class="text-center">Welcome to my projects page! </h2>
  <p class="text-justify w-75 mx-auto">
    As a passionate web developer, I'm excited to showcase some of the projects 
    I've worked on. From building dynamic websites with Angular, creating stylish 
    user interfaces with Tailwind CSS, to leveraging the power of Supabase for 
    seamless data management, I've honed my skills in HTML, CSS, JavaScript, 
    TypeScript, and more to create modern and engaging web applications. Each 
    project represents my dedication to crafting high-quality, responsive, and 
    user-friendly web solutions. Take a look below and explore my diverse range 
    of projects that highlight my technical expertise and creativity in web 
    development.
  </p> 
</article>

<div class="container">
  <div class="panel active" style="background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
    <h3>Explore The World</h3>
  </div>
  <div class="panel" style="background-image: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
    <h3>Wild Forest</h3>
  </div>
  <div class="panel" style="background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80')">
    <h3>Sunny Beach</h3>
  </div>
  <div class="panel" style="background-image: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80')">
    <h3>City on Winter</h3>
  </div>
  <div class="panel" style="background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
    <h3>Mountains - Clouds</h3>
  </div>
</div>


<!-- Cards
<div class="d-flex border-success mb-3 w-75 h-25 rounded">
  <div class="z-3 position-absolute p-5 rounded-3"><span>z-3</span></div>
  <div class="z-2 position-absolute p-5 rounded-3"><span>z-2</span></div>
  <div class="z-1 position-absolute p-5 rounded-3"><span>z-1</span></div>
  <div class="z-0 position-absolute p-5 rounded-3"><span>z-0</span></div>
  <div class="z-n1 position-absolute p-5 rounded-3"><span>z-n1</span></div>

</div>
-->