/* -- Start Carousel -- */
.carousel-item img,
.carousel-item video {
  width: 100%;
  height: 100%;
  opacity: 0.7; /* Optional: adjust opacity to your preference */
}

.carousel-item:hover{
  img, video{
    opacity: 0.1;
    animation: 200ms ease-in-out;
  }
}
.carousel-item:hover .carousel-caption{
  opacity: 1;
  animation: 200ms ease-in-out;
}

.carousel-caption {
  position: absolute;
  text-align: center;
  translate: 0 -45%;
  color: #fff;
  opacity: 0;
  cursor: pointer;
}


/* -- Finish Carousel -- */

/* -- Start Exercises Cards  -- */
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
  iframe{
    display: none;
  }
  .panel-content{
    display: none;
  }
  h3 {
    font-size: 24px;
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-top: 10px;
    margin-left: 0;
    opacity: 1;
  }
}


.panel.active {
  flex: 5;
  iframe{
    display: block;
  }
  .panel-content{
    display: block;
  }
  h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
    bottom: 20px;
    left: 20px;
    writing-mode: horizontal-tb;
    font-family: 'Open Sans', sans-serif;
  }
}

/* -- Start Exercises Cards -- */

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

/* Star Flip Card Galerie*/


.gallery-container{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 0;
    position: absolute;
} 

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.gallery__item{
    position: relative;
    perspective: 1000px;
    width: 180px;
    height: 200px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s ease-in-out;
    transform-style: preserve-3d;
}

.gallery-container .gallery__item:hover .flip-card-inner{
    transform: rotateY(180deg);
    border-color: rgba(48, 77, 67, 0.664);
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.5), -4px 0 10px  rgba(0, 0, 0, 0.3),  -5px 0 10px  rgba(0, 0, 0, 0.2);
}

.gallery-container .gallery__item .flip_card_front,
.gallery-container .gallery__item .flip_card_back{
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin: auto;
}

.gallery-container .gallery__item .flip_card_front{
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.5), -4px 0 10px  rgba(0, 0, 0, 0.3),  -5px 0 10px  rgba(0, 0, 0, 0.2);
}

.gallery-container .gallery__item .flip_card_back{
    background-color: rgba(24, 24, 24, 0.151);
    transform: rotateY(180deg);
    margin: 0;
    padding: 0;
    align-content: center;
}

a{
    text-decoration: none;
}

.galleries-title{
    font-size: 40px;
    position: sticky;
    top: 0;
    background-color: rgba(64, 88, 80, 0.486);
}
.gallery__title{
    position: absolute;
    bottom: 0;
    color:rgb(0, 0, 0);
    background:rgba(199, 250, 233, 0.5);
    width: 100%;
    font-size: small;
    margin: 0 auto;
    padding: 1px;
    font-weight: bold;
    border-color: black;
}


/*
.gallery__item{
  perspective: 1000px;
}

.flip-card-inner{
  transition: transform 0.7s ease-in-out;
  transform-style: preserve-3d;
}

.gallery-container .gallery__item:hover .flip-card-inner{
  transform: rotateY(180deg);
  border-color: rgba(48, 77, 67, 0.664);
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.5), -4px 0 10px  rgba(0, 0, 0, 0.3),  -5px 0 10px  rgba(0, 0, 0, 0.2);
}

.gallery-container .gallery__item .flip_card_front,
.gallery-container .gallery__item .flip_card_back{
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  margin: auto;
}

.gallery-container .gallery__item .flip_card_front{
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.5), -4px 0 10px  rgba(0, 0, 0, 0.3),  -5px 0 10px  rgba(0, 0, 0, 0.2);
}

.gallery-container .gallery__item .flip_card_back{
  background-color: rgba(24, 24, 24, 0.151);
  transform: rotateY(180deg);
  margin: 0;
  padding: 0;
  align-content: center;
}
*/