#content{
    position: relative;
    width: 100%;
    max-height: 99vh;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
}

.header{
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 6;
}

