
  <div class="cardBefore rounded max-h-md min-h-sm">
      <div class=" card max-h-md min-h-sm">
          <div class="card-header d-flex align-items-end">
              <img src="{{ profile_picture }}" alt="" class="float-left mr-2 rounded-circle w-10 " >
              <p class="my-auto">Post</p>
          </div>
          <div class="card-body">
            <div class="overflow-h max-h-sm rounded">
              <video src="https://zvziniaidkuuulxbldkr.supabase.co/storage/v1/object/sign/assets/video/frprovesize.mp4?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhc3NldHMvdmlkZW8vZnJwcm92ZXNpemUubXA0IiwiaWF0IjoxNjgxNjg5MzQ5LCJleHAiOjE3MTMyMjUzNDl9.0z-BreeDZxXEWwRSLF1h8ZsSX20NxjOrB13FkpkXKhY&t=2023-04-16T23%3A55%3A48.761Z" autoplay mute loop class="card-img-top"></video>
            </div>
            <div class="card-footer d-flex flex-row-reverse">
              <button class="btn"><i class="fa fa-heart" aria-hidden="true"></i></button>
              <button class="btn"><span>Comment</span></button>
            </div>
          </div>
          <div class="card-body">
            <app-post-comment></app-post-comment>
          </div>
      </div>
  </div>
  <div class="cardBefore rounded max-h-md min-h-sm">
    <div class=" card max-h-md min-h-sm">
        <div class="card-header d-flex align-items-end">
            <img src="{{ profile_picture }}" alt="" class="float-left mr-2 rounded-circle w-10 " >
            <p class="my-auto">Post</p>
        </div>
        <div class="card-body">
          <div class="overflow-h max-h-sm rounded">
            <img src="https://zvziniaidkuuulxbldkr.supabase.co/storage/v1/object/sign/assets/img/Black%20Neon%20Modern%20Cyber%20Personal%20Profile%20Facebook%20Post.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJhc3NldHMvaW1nL0JsYWNrIE5lb24gTW9kZXJuIEN5YmVyIFBlcnNvbmFsIFByb2ZpbGUgRmFjZWJvb2sgUG9zdC5wbmciLCJpYXQiOjE2ODE2ODk0MDQsImV4cCI6MTcxMzIyNTQwNH0._ZdWNOxX97ajYrLtAvMt7KjHqebyAVf14EQHt4xjKA8&t=2023-04-16T23%3A56%3A43.974Z" alt="" class="card-img-top">
          </div>
          <div class="card-footer d-flex flex-row-reverse">
            <button class="btn"><span>Like</span></button>
            <button class="btn"><span>Comment</span></button>
          </div>
        </div>
        <div class="card-body">
          <app-post-comment></app-post-comment>
        </div>
    </div>
</div>

