<section class="testimonials_wrapper">
  <div class="testimonials_progress">
    <span class="testimonials_counter">03 / 06</span>
    <span class="testimonials_label">Reviews</span>
  </div>

  <div class="testimonials_images">
    <img src="person1.jpg" class="testimonials_img short" alt="Reviewer 1">
    <img src="person2.jpg" class="testimonials_img mid" alt="Reviewer 2">
    <img src="person3.jpg" class="testimonials_img tall active" alt="Reviewer 3">
    <img src="person4.jpg" class="testimonials_img mid" alt="Reviewer 4">
    <img src="person5.jpg" class="testimonials_img short" alt="Reviewer 5">
  </div>

  <div class="testimonials_content">
    <h4 class="testimonials_name">Daniel Brandon</h4>
    <p class="testimonials_company">Adobe</p>
    <blockquote class="testimonials_quote">
      “Unlimited instant access to hundreds of premium quality resources created by designers for designers.”
    </blockquote>
  </div>
</section>
