

:root {
    --primary-color: black !important;
    --secondary-color: white !important;
    --header-footer-bg: rgba(255, 255, 255, 0.116) !important;
}
//Programmer - About

.caslon{
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}
.philosopher {
  font-family: "Philosopher", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nixie-one {
  font-family: "Nixie One", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
//Tour guide

// Artist
.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.splash {
  font-family: "Splash", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.comforter-brush {
  font-family: "Comforter Brush", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.imperial-script {
  font-family: "imperial Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.pinyon-script {
  font-family: "Pinyon Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
//Self
::-webkit-scrollbar{
    border: solid 2px #ffffff17;
    background-color: #2d3634d3;
    width: 9px;
    border-radius: 20px;
}
::-webkit-scrollbar:hover{
    background-color: #202525e0;
    border: solid 2px #ffffff21;
    box-shadow: 3px -3px 15px #ffffff67;
}

::-webkit-scrollbar-track{
    width: 100%;
    border-radius: 20px;
    
}

::-webkit-scrollbar-thumb{
    background-color: #5c6e6a15 ;
    width: 100%;
    border: solid 0.1px #0e757579;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #f302cbad, 0px 0px 10px #02bbf39d;
}
::-webkit-scrollbar-thumb:hover{
    transition: 0.5s ease-in-out;
    background-color: #5c6e6a50;
    box-shadow: 0px 0px 5px #f302cbad, 0px 0px 10px #02bbf39d, 0px 0px 15px #f302cb9d, 0px 0px 20px #02bbf39d, 0px 0px 25px #f302cb9d, 0px 0px 30px #02bbf39d;
}

::-webkit-scrollbar-corner{
    background-color: rgba(39, 63, 61, 0.212);
}

::-webkit-scrollbar-button{
    color: #000;
    background-color: rgba(37, 59, 53, 0.493);
}

body{
    background-color: #000804 !important;
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    overflow: hidden;
    position: relative;
    scrollbar-color: #0000000e;
    scroll-behavior: smooth;
}

#index-container{
    width: 100%;
    height: 100vh;
    margin-top: 0.5vh;
    overflow: hidden;
    overflow-x: hidden;
    background-color: var(--primary-color);
    border: solid 2px 2px 6px #fffffff5;
    border-radius: 20px;
    color: var(--secondary-color);
    
}


/*-- LINE HEIGHT --*/
.lh-full{
    line-height: 100%;
}

/*-- PERSONALIZED WIDTH --*/
.w-10{
    width: 10%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}

/*--PERSONALIZED HEIGHT --*/
.h-80{
    height: 80% !important;
}
.vh-40{
    height: 40vh;
}
.max-vh-screen{
    max-height: 85vh;
}
.max-h-md{
    max-height: 450px;
}
.max-h-sm{
    max-height: 300px;
}
.min-h-sm{
    min-height: 300px;
}
.min-vh-80{
    min-height: 80vh;
}
/*-- PERSONALIZED MARGIN --*/
.mr-2{
    margin-right: 8px;
}
/*-- OVERFLOW --*/
.overflow-h{
    overflow: hidden;
}
.box-sizing-border-box{
    box-sizing: border-box;
}
.bg-size-cover{
    background-size: cover;
}

.text-justify{
    text-align: justify;
  }
  .mb-6{
    margin-bottom: 80px;
  }

  .emerald-50{ color: rgb(236 253 245);}
  .emerald-100{ color: rgb(209 250 229);}
  .emerald-200{ color: rgb(167 243 208);}
  .emerald-300{ color: rgb(110 231 183);} 
  .emerald-400{ color: rgb(52 211 153);}
  .emerald-500{ color: rgb(16 185 129);}
  .emerald-600{ color: rgb(5 150 105);}
  .emerald-700{ color: rgb(4 120 87);}
  .emerald-800{ color: rgb(6 95 70);}
  .emerald-900{ color: rgb(6 78 59);}
  .emerald-950{ color: rgb(2 44 34);}